@model SS89POS.Models.Sale

@{
    ViewData["Title"] = "Create";
}

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label for="search" class="control-label">Barcode</label>
            <input id="search" class="form-control">
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="CustomerId" class="control-label"></label>
            <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="IssueDate" class="control-label"></label>
            <input asp-for="IssueDate" class="form-control" />
            <span asp-validation-for="IssueDate" class="text-danger"></span>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-12">
        <table id="saleList" class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">

    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="Total" class="control-label"></label>
            <input asp-for="Total" class="form-control" readonly value="0" />
            <span asp-validation-for="Total" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Discount" class="control-label"></label>
            <input asp-for="Discount" class="form-control" value="0" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GrandTotal" class="control-label"></label>
            <input asp-for="GrandTotal" class="form-control" readonly value="0" />
            <span asp-validation-for="GrandTotal" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button  id="save" class="btn btn-primary"> Save</button>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#save").click(function () {
                var saleDetail = [];
                var i = 0;
                $("#saleList > tbody > tr").each(function () {
                    var productId = document.getElementsByName("productId[]")[i].value;
                    var price = $(this).closest("tr").find("td:eq(1)").text();
                    var qty = $(this).closest("tr").find("td:eq(2)").text();
                    var amount = $(this).closest("tr").find("td:eq(3)").text();
                    saleDetail.push({
                        "ProductId": productId,
                        "Price": price,
                        "Qty": qty,
                        "Amount": amount
                    });
                    i++;
                });
                var sale = {
                    "CustomerId": $("#CustomerId").val(),
                    "IssueDate": $("#IssueDate").val(),
                    "Total": $("#Total").val(),
                    "Discount": $("#Discount").val(),
                    "GrandTotal": $("#GrandTotal").val(),
                    "SaleDetails": saleDetail
                };
                console.log(sale);
            });
            $("#Discount").blur(function () {
                CalculatePrice();
            });
            $("#search").keypress(function (e) {
                var isExist = false;
                var i = 0;
                if (e.which == 13) {
                    $("#saleList > tbody > tr").each(function() {
                        var barcode = document.getElementsByName("barcode[]")[i].value;
                        if (barcode == $("#search").val()) {
                            var qty = $(this).closest("tr").find("td:eq(2)").text();
                            var price = $(this).closest("tr").find("td:eq(1)").text();
                            $(this).closest("tr").find("td:eq(2)").text(Number(qty) + 1);
                            $(this).closest("tr").find("td:eq(3)").text((Number(qty) + 1) * Number(price));
                            isExist = true;
                            CalculatePrice();
                        }
                        i++;
                    });
                    if (isExist == false) {
                        $.ajax({
                            method: "GET",
                            url: "/Product/Barcode/?code=" + $("#search").val(),
                            contentType: "application/json",
                            success: function (data) {
                                var row = "<tr><td><input type='hidden' name='productId[]' value='" + data.productId + "'/>";
                                row += "<input type='hidden' name='barcode[]' value='" + data.barcode + "'/>" + data.productName;
                                row += "</td><td>" + data.price;
                                row += "</td><td>" + 1;
                                row += "</td><td>" + data.price;
                                row += "</td><td><button ";
                                row += "class='btn btn-danger rem'> Del </button> ";
                                row += "<button class='btn btn-primary plus'> + </button>";
                                row += " <button class='btn btn-primary minus'> - </button></td></tr>";
                                $("#saleList").append(row);
                                CalculatePrice();
                            }, error: function (error) {
                                console.log(error);
                            }
                        });
                    }
                    $("#search").val("");
                   
                }
            });
            $("#saleList").on("click", ".rem", function () {
                var $tr = $(this).closest("tr");
                $tr.remove();
                CalculatePrice();
            });
            $("#saleList").on("click", ".plus", function () {
                var qty = $(this).closest("tr").find("td:eq(2)").text();
                var price = $(this).closest("tr").find("td:eq(1)").text();
                $(this).closest("tr").find("td:eq(2)").text(Number(qty) + 1);
                $(this).closest("tr").find("td:eq(3)").text(Number(qty) + 1 * Number(price));
                CalculatePrice();
            });
            $("#saleList").on("click", ".minus", function () {
                var qty = $(this).closest("tr").find("td:eq(2)").text();
                if (Number(qty) > 1) {
                    var price = $(this).closest("tr").find("td:eq(1)").text();
                    $(this).closest("tr").find("td:eq(2)").text(Number(qty) - 1);
                    $(this).closest("tr").find("td:eq(3)").text(Number(qty) - 1 * Number(price));
                    CalculatePrice();
                }
                return;
            });
        });
        function CalculatePrice() {
            var amount = 0;
            $("#saleList > tbody > tr").each(function () {
                var price = $(this).closest("tr").find("td:eq(2)").text();
                amount += Number(price);
            });
            $("#Total").val(amount);
            var discount = $("#Discount").val();
            discount = Number(discount) * Number(amount) / 100;
            $("#GrandTotal").val(Number(amount) - Number(discount));
        }
    </script>
}
